#google {
    color:greenyellow;
    text-decoration: none;
    font-weight: bold;
}

.home-footer{
    color:chartreuse;
    font-weight: bold;
}

body{
    background-image:url('../images/image1.jpg');
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
}